@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@200;500&family=Roboto:wght@300;400;500&display=swap");

/* || RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
  
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea {
  font: inherit;
}

/* || VARIABLES */

:root {
  /* || FONTS */
  --FF-Kanit: "Kanit", "sans-serif";
  --FF-Roboto: "Roboto", "sans-serif";
  --FS: 2.5rem;
  --FW-LIGHT: 200;
  --FW-BOLD: 500;

  /* || COLORS */
  --BGCOLOR-HERO: rgb(19, 18, 18);
  --BGCOLOR-ENTERANCE: background-color: #FA8BFF;
  
  
  --FONT-COLOR: whitesmoke;

  /* || TEXT PADDING */
  --TEXT-PADDING: 0 3%;
}

/* || GENERAL STYLES */

html {
  scroll-behavior: smooth;
  /* background-image: background-color: #A9C9FF; */
  background-image: linear-gradient(to top, rgb(19, 18, 18) 0%, #30cfd0 18%,#330867 70%, #330867 100%);
  background-color: rgb(19, 18, 18);
  

  
}

p {
  padding: var(--TEXT-PADDING);
}

/* || HERO */
.header {
  background-color: var(--BGCOLOR-HERO);
  margin: 1% 18%;
  border-radius: 25px;
  box-shadow: 0.1px 0.1px 5px #5a0db9;
}

.header__nav{
  display: flex;
}

.space-top {
  display: block;
  /* margin-top: 150px; */
}

.icon {
  margin: 1%;
  width: 100px;
  height: 100px;
}

.language{
  color: whitesmoke;
  padding-top: 3%;
}

.hero {
  background-image: linear-gradient(to top,#330867 0%, rgb(19, 18, 18) 5%, rgb(19, 18, 18) 90%, #330867 100%);
  color: var(--FONT-COLOR);
  font-weight: var(--FW-BOLD);
  position: relative;
  box-shadow: 0.1px 0.1px 70px rgb(119, 0, 255);
}

.hero__h1 {
  padding-top: 4%;
  padding-bottom: 1.5%;
  font-size: 3.5rem;
  font-family: var(--FF-Kanit);
  color: var(--FONT-COLOR);
}

.hero__h3 {
  font-size: 1.5rem;
  color: var(--FONT-COLOR);
  padding: var(--TEXT-PADDING);
  font-family: var(--FF-Roboto);
  font-weight: var(--FW-LIGHT);
}

.avatar {
  max-width: 300px;
  max-height: 300px;
  margin: 2% 2% 3%;
  display: inline-block;
}

/* || ENTERANCE */
.enterance {
  color: var(--FONT-COLOR);
}

.enterance__h2 {
  padding: 4% 0 1% 0;
  font-size: 2rem;
  font-family: var(--FF-Kanit);
  display: inline-block;
  padding-top: 100px;
}

.about {
  font-size: 1.4rem;
  font-family: var(--FF-Roboto);
  font-weight: 400;
  line-height: 1.8rem;
  padding-bottom: 4%;
  letter-spacing:-0.5px;
  word-spacing: -1px;
  padding-left: 34%;
  padding-right: 34%;
}

/* || INFO TABLES */
.row {
  display: flex;
  margin-bottom : 50px;
}

.space {
  padding: 0 150px;
}

.column {
  flex: 33%;
  color: whitesmoke;
  margin: 0 0 30px 0;
  /* !!!! ONEMLI BURASI DEGISECEK 30 px silinecek */
  padding-bottom: 30px;
  font-family: var(--FF-Roboto);
  font-size: 1.3rem;
}

.radius_first {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: var(--BGCOLOR-HERO);
  margin-right: 1px;
  box-shadow: 0.1px 0.1px 5px rgb(211, 183, 255);
}

.radius_second {
  background-color: var(--BGCOLOR-HERO);
  margin-right: 1px;
  box-shadow: 0.1px 0.1px 5px rgb(211, 183, 255);
}

.radius_third {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: var(--BGCOLOR-HERO);
  box-shadow: 0.1px 0.1px 5px rgb(211, 183, 255);
}

/* ||Column Images */

.background__circle {
  background-color: whitesmoke;
  border-radius: 50%;
  max-width: 100px;
  margin: 10% auto;
}

.first_column__image {
  width: 100px;
  height: 100px;
  padding: 25px 15px;
}

.second_column__image {
  width: 100px;
  height: 100px;
  padding: 10px;
}

.third_column__image {
  width: 100px;
  height: 100px;
  padding: 10px;
}

/* || TABLE INFOS */
.padding-top {
  padding-top: 30px;
}

.padding-firstlines {
  padding: 30px 60px 0 60px;
}

.padding-purple {
  padding-top: 40px;
}

.padding-less{
  padding-top: 5px;
}

.padding-last {
  padding-bottom: 30px;
}

.purple{
  color: rgb(211, 183, 255);
}

.frontend:before{
  content:"Front-End Developer";
}

/* || FOOTER */
.footer {
  background-image: linear-gradient(to bottom,#177575 0%, rgb(19, 18, 18) 15%, rgb(19, 18, 18)100% /* #30cfd0 */ );
  padding-top: 10px;
}

.home-button {
  width: 60px;
  height: 60px;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.945);
  border-radius: 100%;
  border: 2px solid rgb(211, 183, 255);
  margin: 30px;

}

.social {
  display: flex;
  justify-content: center;

}

.mail-button {
  width: 60px;
  height: 60px;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.945);
  border-radius: 100%;
  border: 2px solid rgb(211, 183, 255);
  margin: 30px;
}

.instagram-button {

  width: 60px;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.945);
  border-radius: 100%;
  border: 2px solid rgb(211, 183, 255);
  margin: 30px;
}

.twitter-button {

  width: 60px;
  height: 60px;
  padding: 6px 3px 0;
  background-color: rgba(0, 0, 0, 0.945);
  border-radius: 100%;
  border: 2px solid rgb(211, 183, 255);
  margin: 30px;
}

.github {
  width: 60px;
  height: 60px;
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.945);
  border-radius: 100%;
  border: 2px solid rgb(211, 183, 255);
  margin: 30px;

}

.linkedin {
  width: 60px;
  height: 60px;

  background-color: rgba(0, 0, 0, 0.945);
  border-radius: 100%;
  border: 2px solid rgb(211, 183, 255);
  margin: 30px;
}
.itchio {
  width: 60px;
  height: 60px;
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.945);
  border-radius: 100%;
  border: 2px solid rgb(211, 183, 255);
  margin: 30px;
}

.copyright{
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}
.copyright-text {
  color: whitesmoke;
  font-size: 1.3rem;
  font-family: var(--FF-Roboto);
}

/* || TABLET */
@media screen and (min-width: 768px) and (max-width:992px){
  .language{
    padding-top: 5%;
  }
  .header{
    margin: 5%
  }
  .icon{
    width: 100px;
  }
  .hero__h1{
    padding: 3% 10%;
    line-height: 100%;
  }
  /* baslıkta ıkı satır arası bosluk cok onu azalt */
  .hero__h3{
    padding: 0 15%;
  }
  .enterance__h2{
  padding-top: 3%;
  }
  .about{
    padding-left: 5%;
    padding-right: 5%;
  }
  .space{
    padding: 1.5%;
  }
  .frontend:before{
    content: "Front-End";
  }
  .padding-firstlines{
    padding-left: 10% ;
    padding-right: 10%;
  }
}

/* || PHONES */
@media screen and (max-width: 768px){
  .icon{
    width: 50px;
    height: 50px;
    margin: 10%;
  }
  .hero__h1{
    padding: 0 7%;
    line-height: 100%;
  }
  .language{
    padding-top: 7%;
  }
  .hero__h1{
    font-size: 2rem;
    line-height: 120%;
    padding-top: 10%;
  }
  .avatar{
    margin: 10%;
  }
  .hero__h3{
    font-size: 1.2rem;
    padding-left: 6%;
    padding-right: 6%;
  }
  .enterance__h2{
    line-height: 40px;
    font-size: 1.7rem;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 15px;
    padding-top: 10%;
  }
  .about{
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 15%;
  }
  .row{
    flex-direction: column;
  }
  .space{
    padding: 0%;
  }
  .radius_first{
  margin: 0 3% 10px;
  border-radius: 20px;
  background-color: var(--BGCOLOR-HERO);
  box-shadow: 0.1px 0.1px 5px rgb(211, 183, 255);
  }
  .radius_second{
    margin: 0 3% 10px;
    border-radius: 20px;
    background-color: var(--BGCOLOR-HERO);
    box-shadow: 0.1px 0.1px 5px rgb(211, 183, 255);
    }
  .radius_third{
    margin: 0 3% 10px;
    border-radius: 20px;
    background-color: var(--BGCOLOR-HERO);
    box-shadow: 0.1px 0.1px 5px rgb(211, 183, 255);
  }
  .home-button{
    width: 50px;
    height: 50px;;
    padding: 5px;
    margin: 20px 7px 20px 3px;
    }
    .mail-button{
      width: 50px;
    height: 50px;
    padding: 5px;
    margin: 20px 7px 20px 3px;
    }
    .instagram-button{
      width: 50px;
      height: 50px;
    padding: 5px;
    margin: 20px 7px 20px 3px;
    }
    .twitter-button{
      width: 50px;
      height: 50px;
    padding: 5px;
    margin: 20px 7px 20px 3px;
    }
    .github{
      width: 50px;
      height: 50px;
    padding: 5px;
    margin: 20px 7px 20px 3px;
    }
    .linkedin{
      width: 50px;
      height: 50px;
    padding: 5px;
    margin: 20px 7px 20px 3px;
    }
    .itchio{
    width: 50px;
    height: 50px;
    padding: 5px;
    margin: 20px 7px 20px 3px;
    }
}
