@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@200;500&family=Roboto:wght@300;500&display=swap");

/* || RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea {
  font: inherit;
}

/* || VARIABLES */

:root {
  /* || FONTS */
  --FF-Kanit: "Kanit", "sans-serif";
  --FF-Roboto: "Roboto", "sans-serif";
  --FS: 2.5rem;
  --FW-LIGHT: 200;
  --FW-BOLD: 500;

  /* || COLORS */
  --BGCOLOR-HERO: rgb(19, 18, 18);
  --BGCOLOR-ENTERANCE: rgb(88, 44, 189);
  --FONT-COLOR: whitesmoke;

  /* || TEXT PADDING */
  --TEXT-PADDING: 0 30%;
}

/* || GENERAL STYLES */

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--BGCOLOR-HERO);
}

/* || HERO */
.header {
  background-color: var(--BGCOLOR-ENTERANCE);
  margin: 1% 18%;
  border-radius: 25px;
  box-shadow: 0.1px 0.1px 5px whitesmoke;
}

.icon {
  margin: 1%;
}

.hero {
  background-color: var(--BGCOLOR-HERO);
  color: var(--FONT-COLOR);
  font-weight: var(--FW-BOLD);
}

.hero__h1 {
  padding-top: 4%;
  padding-bottom: 1.5%;
  font-size: 3.5rem;
  font-family: var(--FF-Kanit);
  color: var(--FONT-COLOR);
}

.hero__h3 {
  font-size: 1.5rem;
  color: var(--FONT-COLOR);
  padding: var(--TEXT-PADDING);
  font-family: var(--FF-Roboto);
  font-weight: var(--FW-LIGHT);
}

.avatar {
  max-width: 200px;
  max-height: 200px;
  margin: 1% 42.5%;
}

.hero__background {
  max-height: 300px;
  min-width: 100%;
}

/* || ENTERANCE */
.enterance {
  background-color: var(--BGCOLOR-ENTERANCE);
  color: var(--FONT-COLOR);
}

.enterance__h2 {
  padding: 4% 0 4% 0;
  font-size: 2rem;
  font-family: var(--FF-Kanit);
}

.about {
  font-size: 1.4rem;
  font-family: var(--FF-Roboto);
  font-weight: var(--FW-LIGHT);
  padding: 0 33.7%;
  word-break: break-word;
  line-height: 2rem;
}

.about_2 {
  font-size: 1.4rem;
  font-family: var(--FF-Roboto);
  font-weight: var(--FW-LIGHT);
  padding: 0 35.3% 4%;
  word-break: break-word;
  line-height: 2rem;
}

/* || INFO TABLES */
.info__tables {
  background-color: var(--BGCOLOR-ENTERANCE);
}

.row {
  display: flex;
}

.space {
  padding: 0 12%;
}

.column {
  flex: 33%;
  color: whitesmoke;
  margin: 0 0 30px 0;
  /* !!!! ONEMLI BURASI DEGISECEK 30 px silinecek */
  padding-bottom: 30px;
  font-family: var(--FF-Roboto);
  font-size: 1.3rem;
}

.radius_first {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: var(--BGCOLOR-HERO);
  margin-right: 1px;
}

.radius_second {
  background-color: var(--BGCOLOR-HERO);
  margin-right: 1px;
}

.radius_third {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: var(--BGCOLOR-HERO);
}

/* || First Column */

.background__circle {
  background-color: rgb(195, 236, 12);
  border-radius: 50%;
  max-width: 100px;
  margin: 50px 116px 30px;
}

.first_column__image {
  width: 100px;
  height: 100px;
}
